﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ShowTable.aspx.cs" Inherits="OilDepot.ShowTable" MasterPageFile="~/Site.Master" %>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    &nbsp;<table>
    <tr>
        <td>
            <asp:Button ID="ButtonBack" runat="server" Text="<< назад" 
                onclick="ButtonBack_Click" Width="119px" />
        </td>
        <td>
            <asp:Button ID="ButtonExport" runat="server" Text="Экспорт в Excel" 
                onclick="ButtonExport_Click" />
        </td>
         <td>
            <asp:Button ID="Button1" runat="server" Text="Готово" onclick="Button1_Click" 
                 Width="127px"  />
        </td>
    </tr>
    <tr>
        <td colspan=4>            
            <asp:GridView ID="GridView1" runat="server">
            </asp:GridView>
        </td>
    </tr>
</table>
</asp:Content>