<%@ Page Inherits="SiteLogic.Test" %>

<script language=C# runat=server>

void GreetingBtn_Click(Object sender, EventArgs e)
{
    test.Text += "there";
}

</script>

<html>
<br>
<hr/>
Hello there!				
<form runat=server action=test.aspx >
<asp:TextBox runat=server ID="test"/><br/>
<asp:Button OnClick=GreetingBtn_Click runat=server Text="Hello there"/>
</form>							
</html>
